Repository iyonaga/static-html-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, prettier --write, stylelint --fix

chore: rename .eslintrc.json to .eslintrc.js
  .eslintignore
  .eslintrc.js
  .eslintrc.json
Due: prettier-eslint --write, prettier --write

chore: rename .stylelintrc to .stylelintrc.js
  .eslintignore
  .stylelintrc
  .stylelintrc.js
Due: prettier-eslint --write

chore: format code
  postcss.config.js
  webpack.config.js
Due: prettier-eslint --write

chore: remove `@babel/polyfill`
  package.json
  yarn.lock
Due: prettier --write

chore: bump npm packages
  .lintstagedrc
  package.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, prettier --write

style: format code
  babel.config.js
Due: prettier-eslint --write

chore: use WebpackBar
  package.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, prettier --write

chore: add TypeScript support
  .eslintrc.js
  babel.config.js
  package.json
  src/js/app.ts
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, prettier --write

chore: add vscode settings
  .vscode/settings.json
Due: prettier --write

chore: rename directory
  src/images/background.jpg
  src/js/app.ts
  src/scripts/app.ts
  src/styles/base/_base.scss
  src/styles/base/_reset.scss
  src/styles/components/.gitkeep
  src/styles/entry.scss
  src/styles/helpers/_mixins.scss
  src/styles/helpers/_variables.scss
  src/styles/layouts/_footer.scss
  src/styles/layouts/_header.scss
  src/styles/pages/_common.scss
  src/styles/pages/_home.scss
  src/styles/style.scss
  src/styles/vendor/.gitkeep
  src/views/index.ejs
  webpack.config.js
Due: prettier-eslint --write, prettier --write, stylelint --fix

chore: use dart-sass instead of node-sass
  package.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, prettier --write

chore: rename style.scss to styles.scss
  src/styles/entry.scss
  src/styles/styles.scss
Due: prettier --write, stylelint --fix

chore: add script-ext-html-webpack-plugin
  package.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, prettier --write

chore: add tsconfig.json
  tsconfig.json
Due: prettier --write

chore: rename webpack.config.js to webpack.config.ts
  package.json
  webpack.config.js
  webpack.config.ts
  yarn.lock
Due: prettier-eslint --write, prettier --write

chore: add @babel/preset-typescript
  babel.config.js
  package.json
  yarn.lock
Due: prettier-eslint --write, prettier --write

chore: bump dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update .stylelintrc.js
  .stylelintrc.js
Due: prettier-eslint --write

update
  .eslintrc.js
  .lintstagedrc
  .prettierrc.js
  .stylelintrc.js
  .vscode/settings.json
  package.json
  postcss.config.js
  src/styles/base/_reset.scss
  src/styles/entry.scss
  src/styles/helpers/_variables.scss
  src/styles/pages/_home.scss
  src/styles/styles.scss
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: prettier-eslint --write, prettier --write, stylelint --fix

Path conditions:
  prettier-eslint --write: any of: *.js
  prettier --write: (any of: *.scss) or (any of: *.json)
  stylelint --fix: any of: *.scss
